RasPi_config/nodered_flow.md
[{"id":"47478305.0319c4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"72740e37.67a17","type":"mysql","z":"47478305.0319c4","mydb":"a0fbdf07.eeae4","name":"","x":670,"y":60,"wires":[["ad2dbcd0.e6513"]]},{"id":"ad2dbcd0.e6513","type":"debug","z":"47478305.0319c4","name":"result_MYSQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":60,"wires":[]},{"id":"5fe88209.a46e04","type":"function","z":"47478305.0319c4","name":"function_outMYSQL","func":"var date = new Date();\nvar dateS = date.getFullYear() + \"-\" + (date.getMonth()+1) + \"-\" + date.getDate() + \" \" + \ndate.getHours() + \":\" + date.getMinutes() + \":\" + date.getSeconds();\n\nvar out = \"INSERT INTO Sensores (Timestamp,Tema,Valor)\"\nout = out + \" VALUES ('\" + dateS + \"','\"\nout = out + msg.topic.substring(8,14) + \"','\" + msg.payload + \"');\"\n\nmsg.topic = out;\n//msg.payload = date.toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":60,"wires":[["72740e37.67a17","4092ded0.76888"]]},{"id":"47d6244e.e12bc4","type":"mqtt in","z":"47478305.0319c4","name":"","topic":"/sensor/temp","qos":"2","datatype":"auto","broker":"b8060e50.fd718","x":170,"y":60,"wires":[["5fe88209.a46e04","fe08fabe.a699b8"]]},{"id":"50b7e72d.f6ad6","type":"debug","z":"47478305.0319c4","name":"MQTT_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":180,"wires":[]},{"id":"4092ded0.76888","type":"debug","z":"47478305.0319c4","name":"outFunction","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":120,"wires":[]},{"id":"fe08fabe.a699b8","type":"function","z":"47478305.0319c4","name":"function_cutTopic","func":"msg.payload = msg.topic.substring(8,14);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["50b7e72d.f6ad6"]]},{"id":"7860ca9b.3d0ea4","type":"http in","z":"47478305.0319c4","name":"datos","url":"/datos","method":"get","upload":false,"swaggerDoc":"","x":180,"y":360,"wires":[["173f1283.56ca75","1d2e217a.2127e7"]]},{"id":"1d2e217a.2127e7","type":"function","z":"47478305.0319c4","name":"","func":"var out = \"SELECT * from Sensores ;\";\n\nmsg.topic = out;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["e8d101f4.0d70d"]]},{"id":"173f1283.56ca75","type":"debug","z":"47478305.0319c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":280,"wires":[]},{"id":"25584753.cec918","type":"http response","z":"47478305.0319c4","name":"ok","statusCode":"200","headers":{},"x":730,"y":360,"wires":[]},{"id":"659066c4.30bdf8","type":"debug","z":"47478305.0319c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":280,"wires":[]},{"id":"59923bbc.c90f1c","type":"serial in","z":"47478305.0319c4","d":true,"name":"","serial":"","x":290,"y":460,"wires":[["9205f458.bfec18"]]},{"id":"9205f458.bfec18","type":"debug","z":"47478305.0319c4","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":460,"wires":[]},{"id":"871113a7.a321a","type":"mqtt in","z":"47478305.0319c4","name":"","topic":"/sensor/pulso","qos":"2","datatype":"auto","broker":"b8060e50.fd718","x":170,"y":140,"wires":[["5fe88209.a46e04","fe08fabe.a699b8"]]},{"id":"e8d101f4.0d70d","type":"mysql","z":"47478305.0319c4","mydb":"a0fbdf07.eeae4","name":"","x":530,"y":360,"wires":[["25584753.cec918","659066c4.30bdf8"]]},{"id":"5da7083b.4d9ad8","type":"mqtt in","z":"47478305.0319c4","name":"","topic":"/test/test1","qos":"2","datatype":"auto","broker":"b8060e50.fd718","x":235,"y":681,"wires":[["66190b3b.bdb6ec","b42867c2.7bdf08"]]},{"id":"66190b3b.bdb6ec","type":"debug","z":"47478305.0319c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":485,"y":681,"wires":[]},{"id":"b42867c2.7bdf08","type":"mqtt out","z":"47478305.0319c4","name":"","topic":"/test/test2","qos":"2","retain":"","broker":"b8060e50.fd718","x":485,"y":841,"wires":[]},{"id":"fb232d6d.9a9b98","type":"inject","z":"47478305.0319c4","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":235,"y":801,"wires":[["b42867c2.7bdf08"]]},{"id":"b8ef94ef.64cd2","type":"inject","z":"47478305.0319c4","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":880,"wires":[["b42867c2.7bdf08"]]},{"id":"1b96c85c.99e69","type":"firebase query","z":"47478305.0319c4","name":"","firebaselogin":"empet-ae1d1","firebasepath":"Estado","child":"","x":450,"y":540,"wires":[["57adb6ba.dd9498"]]},{"id":"9dfbf9e0.cddb68","type":"inject","z":"47478305.0319c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":540,"wires":[["1b96c85c.99e69"]]},{"id":"57adb6ba.dd9498","type":"debug","z":"47478305.0319c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":540,"wires":[]},{"id":"a0fbdf07.eeae4","type":"MySQLdatabase","z":"47478305.0319c4","host":"localhost","port":"3306","db":"EmPet","tz":""},{"id":"b8060e50.fd718","type":"mqtt-broker","z":"47478305.0319c4","name":"EmPetMQTT","broker":"10.42.0.29","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
